.plane-btn-class {
  border-radius: 30px;
  font-size: 15px;
  padding: 20px;
  transition: 0.5s;
  color: white;
  border: 2px solid gray;
  background-color: black;
  transition: 0.5s;
}

:hover.plane-btn-class {
  transform: scale(1.05);
}
