.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.nav-lists {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-list {
  cursor: pointer;
}
